.inner-container{
    gap: 1.5rem;
    background: #262626;
    padding: 2rem;
   
   
    text-align: center;
}



.inner-container .primaryText{
  font-family: "Manrope", sans-serif;
    font-size: 32px;
    line-height: 43.71px;
    color: #FCFCFC;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: #6A6A6A;
    font-weight: 400;
   
font-size: 14.4px;

line-height: 19.67px;
text-align: center;

}
.inner-container .button {
    width: Hug (111px)px;
height: Hug (31px)px;
top: 182.09px;
left: 552.51px;
padding: 6px 10px 6px 10px;
gap: 10px;
opacity: 0px;
background: #FFE3AB;
color: black;
}