@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.r-wrapper{
 position: relative;
 overflow: hidden;
 
}
.r-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
 background-color: black;
 overflow: hidden;
 opacity: 0.95;


}
.bg-img{
  position: absolute;
  z-index: -2;
  gap: 0px;

}
.r-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.r-head{
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 2rem;
  color: rgba(237, 211, 164, 1)  ;
}



.cards {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-content: center; 
  gap: 64px;
}



.r-card {
  padding: 26px 19px 26px 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 14.17px;
  z-index: 10;
}

.r-card > img {
max-width: 314px;
  height: 185px;
}
.nameText{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.78px;
  color: #DFC99D;
  
}
.detailsText{
  color:rgba(159, 159, 159, 1);
  ;
}

.r-card:hover {
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}


.r-buttons{
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}
.r-buttons button{
  font-size: 1.2rem;
  padding: .2rem .8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.r-buttons>:nth-child(1)
{
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #EEEEFF;
}
.r-buttons>:nth-child(2)
{
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #EEEEFF;
}


@media (max-width: 640px) {
  .r-head{
  align-items: center;
  }
  .r-buttons{
    position: initial;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr)); 
    gap: 25px; 
  }
}
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

