
.c-wrapper{
    position: relative;
}
.c-container{
    position: relative;
    justify-content: space-around;
    gap: 1rem;
}
.img{
    height: 100px;
    width: 100px;
    filter: grayscale(100%);
    transition: transform 0.5s ease;
}

.img:hover{
    
    transform: scale(1.1);
    filter: grayscale(0%);
    
}

