/* About Us Page Styles */
.about-us {
    z-index: 1;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    text-align: center;
    background-image: url('aboutuss.jpeg'); /* Add the background image */
    background-size: cover; /* Cover the entire page with the image */
    background-attachment: fixed; /* Make the background fixed */
    position: relative;
    /* Responsive settings */
    @media (max-width: 768px) {
        padding: 10px;
    }
} 
.avout-overlay{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.88);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* About Section Styles */
.about-section {
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    z-index: 3;
    color: #EDD3A4;
    
    /* Responsive settings */
    @media (max-width: 768px) {
        margin-bottom: 20px;
        margin-top: 60px;
    }
}

.about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #EDD3A4;
    border-bottom: 4px solid black; /* Adds underline */
    display: inline-block;
    padding-bottom: 5px;

    /* Responsive settings */
    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

/* Container and Content Styles */
.container {
    background-color: #171717;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    transition: background-color 0.3s ease-in-out;

    /* Responsive settings */
    @media (max-width: 768px) {
        padding: 20px;
        margin: 10px;
        height: auto; /* Adjust height on smaller screens */
    }
}

.container:hover {
    background-color: #474747;
}
.our-story{
    position: relative;
    z-index: 3;

}

.our-mission{
    position: relative;
    z-index: 3;
}

.our-story-content,
.our-mission-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Ensure content takes full height */
    /* Responsive settings */
    @media (max-width: 768px) {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }
}
@media (max-width: 768px) {
    .our-mission-content{
        flex-direction: column-reverse; /* Stack content vertically on smaller screens */
    }
}

.our-story-text,
.our-mission-text {
    flex: 1;
    padding: 20px;
    font-size: 1rem; /* Smaller font size */
    color: white;

    /* Responsive settings */
    @media (max-width: 768px) {
        padding: 10px;
    }
}

.our-story-image,
.our-mission-image {
    max-width: 45%;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    transition: transform 0.3s ease-in-out;

    /* Responsive settings */
    @media (max-width: 768px) {
        max-width: 100%; /* Allow the image to take up full width on smaller screens */
    }
}

.our-story-image:hover,
.our-mission-image:hover {
    transform: scale(1.05);
}

.our-story-text h2,
.our-mission-text h2 {
    font-size: 2rem;
    color: #EDD3A4;
    margin-bottom: 10px;

    /* Responsive settings */
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

/* Testimonials section styling */
.testimonials-section {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
    background-color: #171717;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* Responsive settings */
    @media (max-width: 768px) {
        padding: 20px;
    }
}

/* Styling for the testimonial heading */
.testimonials-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #EDD3A4;
    border-bottom: 4px solid black; /* Adds underline */
    padding-bottom: 5px;
    display: inline-block;

    /* Responsive settings */
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

/* Container for testimonials */
.testimonials-container {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #171717;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    /* Responsive settings */
    @media (max-width: 768px) {
        padding: 10px;
        margin: 10px;
    }
}

/* Styling for the testimonial */
.testimonial {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #474747;
    color: white;
    /* Responsive settings */
    @media (max-width: 768px) {
        padding: 10px;
        max-width: 100%; /* Allow testimonial to take up full width on smaller screens */
    }
}

.testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;

    /* Responsive settings */
    @media (max-width: 768px) {
        width: 50px; /* Reduce image size on smaller screens */
        height: 50px;
    }
}

.testimonial:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}