.ring-svg{
    cursor: pointer;
}
.active{
    color: #EDD3A4;
}
.notActive{
    color: #474747;

}

.p-container{
    margin-top: -12px;
    display: flex;
    color: white;
    gap: 20px;
}

.p-title{
  font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 29.25px    ;
    line-height: 39.96px    ;
    
}

.p-wrapper{
    display: flex;
    flex-direction: column;

}


.transition{
    transition: all 1.5s ease;
}

.activeDetails{
    opacity: 1;
}

.notActiveDetails{
    opacity: 0;
}



