.numbers-wrapper{
    width: 100%;
    background-color:rgba(23, 23, 23, 1);
    padding: 32px 0px 32px 0px;
    flex-wrap: wrap;
}
.stats{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgba(237, 211, 164, 1);
    line-height: 68.3px
    ;
    padding: 20px;
    width: 967.5px;
    justify-content: space-between;
}
.stat>:nth-child(1)
{
    font-size: 50px;
}
.belowText{
    font-weight: 400;
    font-size: 32px;
    line-height: 43.71px; 
    color:rgba(238, 230, 213, 1);
    ;
}
.stat>:nth-child(1)>:last-child{
    color: rgba(237, 211, 164, 1);
}

@media (max-width: 768px) {
    .stats{
        display: flex;
        flex-direction: column;
    }
    
}